/* color palette

#8ECAE6 - pale blue
#219EBC - med blue
#023047 - dark blue
#FFB703 - golden yellow
#FB8500 - rich yellow orange

*/

header {
  display: flex;
  background-color: #8ECAE6;
  height: 5em;
}

header ul li {
  display: inline-block;

  padding: 0em 2em;
  margin-top: 1em;
  margin-inline-start: 2em;
  margin-right: 5em;
  font-size: 1em;
}

body {
  color: #023047;
}

h1 {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#headerDiv {
  vertical-align: center;
}

#match-my-pet-logo {
  background-color: #023047;
  color: #8ECAE6;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 2em;
  font-size: x-large;
  font-style: italic;
}

#game-instructions {
  background-color: #023047;
  color: #8ECAE6;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 2em;
  font-size: x-large;
  font-style: italic;
}

#sxnHomeTop {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FFB703;
}

#page-title {
  padding: 1em 0em;
}

#gameContainer {
  display: flex;
  /* margin: 40px 0px 10px 40px; */
  flex-direction: column;
  background-color: #023047;
}

#cardboxes {
  background-color: #219EBC;
  max-width: 1200px;
  align-self: center;
}

#cardRowOne div .backcard  {
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 5px 10px;
  max-width: 1000px;
}

#cardRowTwo div .backcard {
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px 10px 10px;
  max-width: 1000px;
}

footer {
  display: flex;
}

footer p {
  justify-content: last
}