#cardboxes {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 30px;
    perspective: 1000px;
}

#cardboxes img {
    width:200px;
    height: 200px;
    backface-visibility: hidden;
}

.card {
    position:relative;
    transition: transform 1s;
    transform: scale(1);
    transform-style: preserve-3d;

}

.card.flip {
    transform: rotateY(180deg);
}

.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.cardFront {
    position: relative;
    top: 0;
    left: 0;
    transform: rotateY(180deg)
}

.cardBack {
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

/* .cardBack:hover {
    display: none;
} */