/* Common to all pages 

#8ECAE6 - pale blue
#219EBC - med blue
#023047 - dark blue
#FFB703 - golden yellow
#FB8500 - rich yellow orange */

header {
  display: flex;
  background-color: #8ECAE6;
  height: 5em;
  top: 50%;
  right: 50%;
}

nav {
  width: 50%;
  margin: auto;
  text-align: center;
}

header ul li {
  display: inline;
  padding: 0em 2em;
  font-size: 1em;
  align-items: bottom;
}

body {
  color: #023047;
}

h1 {
  font-size: 2em;
  font-family: 'Franklin Gothic Medium';
  height: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

#match-my-pet-logo {
  margin-top: 2em;
  margin-bottom: 1em;
}


#logo {
  width: 180px;
  height: 80px;
  margin-bottom: 1px;
}

#sxnTop {
  /* this holds the logos and the page-title */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #FFB703;
  height: 130px;
}

#page-title {
  padding: 1em 0em;
}

/* Specific to index.html */

#gameContainer {
  display: flex;
  flex-direction: column;
  background-color: #023047;
}

#cardboxes {
  background-color: #219EBC;
  max-width: 1200px;
  align-self: center;
}

#cardRowOne div .backcard {
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px 5px 10px;
  max-width: 1000px;
}

#cardRowTwo div .backcard {
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px 10px 10px;
  max-width: 1000px;
}


#copyright {
  position: fixed;
  bottom: 0px;
  right: 5px;
}


/* From here down pertains to about-us.html only */

#maybeCodeFellows {
  /* this is the box on the right of "About Us" same as "game-instructions" on index.html*/
  background-color: #FFB703;
  color: #8ECAE6;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 25px 25px;
  font-size: x-large;
  font-style: italic;
}

#CFlogo {
  width: 180px;
  height: 60px;
  margin-bottom: 1px;
}

#sam,
#vida {
  /*1st & 3rd */
  float: left;
  padding: 0px 15px 15px 0px;
  width: 225px;
}

#katharine,
#dean {
  /*2nd & 4th */
  float: right;
  padding: 0px 0px 15px 15px;
  width: 225px;
}

#bioSxn {
  display: flex;
  background-color: #023047;
  align-items: center;
  justify-content: center;
}

#bios {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px;
  background-color: #219EBC;
  max-width: 1200px;
  font-size: larger;
  text-align: justify;
}

h5 {
  font-weight: bold;
}

footer {
  color: #8ECAE6;
}